.oswald{
  font-family: 'Oswald';
}
.text-bold{
  font-weight: bold;
}

.fs-10{
  font-size: 10px;
}
.fs-15{
  font-size: 15px;
}
.fs-20{
  font-size: 20px;
}
.fs-25{
  font-size: 25px;
}
.fs-30{
  font-size: 30px;
}
