div.container {
    width: 100%;
}

.margin-0{
  margin:0px;
}

.padding-0{
  padding: 0px;
}

.border-right-1{
  border-right: 1px solid black;
}

.border-0 li{
  border: 0px;
}

.border-1{
  border:  2px solid black;
}

.p-t-10{
 padding-top: 10px
}

.p-b-10{
 padding-bottom: 10px
}

.p-b-20{
 padding-bottom: 20px 
}
