.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.container {
  max-width: 100%;
}

/*Margin*/
.margin-0{
  margin: 0px;
}
.margin-auto{
  margin: auto !important;
}
.margin-5{
  margin: 5px;
}
.margin-10{
  margin: 10px;
}
.margin-15{
  margin: 15px;
}
.margin-20{
  margin: 20px;
}
/*margin top*/
.m-t-0{
  margin-top:0px;
}
.m-t-5{
  margin-top:5px;
}
.m-t-10{
  margin-top:10px;
}
.m-t-15{
  margin-top:15px;
}
.m-t-20{
  margin-top:20px;
}
/*margin bottom*/
.m-b-0{
  margin-bottom:0px;
}
.m-b-5{
  margin-bottom:5px;
}
.m-b-10{
  margin-bottom:10px;
}
.m-b-15{
  margin-bottom:15px;
}
.m-b-20{
  margin-bottom:20px;
}

/*margin right*/
.m-r-0{
  margin-right:0px;
}
.m-r-5{
  margin-right:5px;
}
.m-r-10{
  margin-right:10px;
}
.m-r-15{
  margin-right:15px;
}
.m-r-20{
  margin-right:20px;
}
/*margin left*/
.m-l-0{
  margin-left:0px;
}
.m-l-5{
  margin-left:5px;
}
.m-l-10{
  margin-left:10px;
}
.m-l-15{
  margin-left:15px;
}
.m-l-20{
  margin-left:20px;
}

/*Padding*/
.padding-0{
  padding: 0px;
}
.padding-5{
  padding: 5px;
}
.padding-10{
  padding: 10px;
}
.padding-15{
  padding: 15px;
}
.padding-20{
  padding: 20px;
}
.padding-25{
  padding: 25px;
}
.padding-30{
  padding: 30px;
}
/*padding top*/
.p-t-0{
  padding-top:0px;
}
.p-t-5{
  padding-top:5px;
}
.p-t-10{
  padding-top:10px;
}
.p-t-15{
  padding-top:15px;
}
.p-t-20{
  padding-top:20px;
}
/*padding bottom*/
.p-b-0{
  padding-bottom:0px;
}
.p-b-5{
  padding-bottom:5px;
}
.p-b-10{
  padding-bottom:10px;
}
.p-b-15{
  padding-bottom:15px;
}
.p-b-20{
  padding-bottom:20px;
}

/*padding right*/
.p-r-0{
  padding-right:0px;
}
.p-r-5{
  padding-right:5px;
}
.p-r-10{
  padding-right:10px;
}
.p-r-15{
  padding-right:15px;
}
.p-r-20{
  padding-right:20px;
}
/*padding left*/
.p-l-0{
  padding-left:0px;
}
.p-l-5{
  padding-left:5px;
}
.p-l-10{
  padding-left:10px;
}
.p-l-15{
  padding-left:15px;
}
.p-l-20{
  padding-left:20px;
}

/*Border*/
.border-0{
  border:0px;
}
.border{
  border:1px solid black;
}
.border-top-black{
  border-top: 1px solid black;
}
.border-bottom-black{
  border-bottom: 1px solid black;
}
.border-left-black{
  border-left: 1px solid black;
}
.border-right-black{
  border-right: 1px solid black;
}
.border-top-blue{
  border-top: 1px solid blue;
}
.border-bottom-blue{
  border-bottom: 1px solid blue;
}
.border-left-blue{
  border-left: 1px solid blue;
}
.border-right-blue{
  border-right: 1px solid blue;
}

/*Border Radius*/
.boder-radius-10{
  border-radius: 10%;
}
.boder-radius-20{
  border-radius: 20%;
}
.boder-radius-30{
  border-radius: 30%;
}
.boder-radius-40{
  border-radius: 40%;
}
.boder-radius-50{
  border-radius: 50%;
}
.width-80{
  width: 80%;
}
.width-85{
  width: 85%;
}
.width-90{
  width: 90%;
}
.width-95{
  width: 95%;
}
.full-width{
  width: 100%;
}
.full-height{
  height: 100%;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}
.text-white{
    color: white !important;
}
.bg-white{
    background-color: white !important;
}
.change-profile-img{
  position: absolute;
  bottom: 0px;
  right: 10px;
}
