<div class="header m-b-0 p-l-0 p-r-0" scroll ng-class="{min:boolChangeClass}">
  <!-- <div class="navbar navbar-default bg-saffron m-b-0" role="navigation">
    <div class="container m-r-0 m-l-0 full-width padding-0" ng-init="page=1">
      <div class="navbar-header m-r-0 m-l-0">

        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <a class="navbar-brand m-l-0" href ng-click="setPath('/');page=1" ng-bind="appName"></a>
      </div>

      <div class="collapse navbar-collapse padding-0" id="js-navbar-collapse">

        <ul class="nav navbar-nav custom-header1">
          <li><a set-active defaultvalue="home" activevalue="home" class="text-white-gray" href ng-click="setPath('/');">Home</a></li>
          <li><a  class="text-white-gray" href ng-click="setPath('/about');">About</a></li>
          <li><a  class="text-white-gray" href ng-click="setPath('/');">Contact</a></li>
          <li><a  class="text-white-gray" href ng-click="setPath('/guessnumber');">Guess the Number</a></li> -->
          <!-- <li><md-button ng-click="setPath('/signup')" class="md-primary md-raised">sign up</md-button></li> -->
        <!-- </ul> -->

        <!-- <div class="pull-right header-btn">
          <md-button ng-if="headerClass('/')" ng-click="setPath('/signup');" class="md-raised bg-keppel twilight-blue">sign Up</md-button>
          <md-button ng-if="headerClass('/signup')" ng-click="setPath('/');" class="md-raised bg-keppel twilight-blue">sign In</md-button>
        </div> -->

      <!-- </div>
    </div>
  </div> -->

  <!-- <div class="row margin-0 padding-30 header-color">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 p-r-0 p-l-0">
      <h1 class="text-black text-bold"><span>FOR</span><span>ZON</span></h1>
      <p class="text-black text-uppercase text-bold">Build Your Own Online Business</p>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 p-r-0 p-l-0 text-center padding-10">
      <h1 class="text-uppercase text-center">welcome</h1>
    </div>
  </div> -->
  <div class="navbar navbar-fixed-top header-color">
  <div class="container margin-0 padding-0 full-width">
  <div class="row margin-0 ">
    <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 full-height p-l-0 p-r-0">
      <div class="p-l-10" ng-if="!boolChangeClass">
        <h1 class="text-white">FORZON APPS</h1>
      </div>
      <div class="p-l-10" ng-if="boolChangeClass">
        <img src="../images/logo.png" alt="logo">
      </div>
    </div>
  </div>
</div>
</div>
</div>
