        <div class="row m-l-0 m-r-0">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
          <h1>Guess the number</h1>
            <p>Please enter number beteen 1 and 100</p>
            <form class="">
                <input type="number" name="" value="" class="guess">
                <button type="button" name="button" class="btn text-white bg-big-stone border-0 submit">submit</button>
            </form>
            <div>
                <button type="button" name="button" class="btn text-white bg-big-stone border-0 start">Start Again</button>
            </div>
            <div class="">
              <h1 id="result"></h1>
            </div>
            <div class="primary">
              <p id="resultSetDom"></p>
            </div>
            </div>
        </div>
