        <div class="row m-l-0 m-r-0">
          <div class="col-md-12 col-xs-12 col-sm-12 col-lg-12">
          <h1>Guess the number</h1>
          <h3>Please enter number beteen 1 and 100</h3>
          <div ng-if="!guessnumber.gameVars.restart">
          <p ng-if="guessnumber.gameVars.chances==10">You have {{guessnumber.gameVars.chances}} chances</p>
          <p ng-class="{'big-stone':guessnumber.gameVars.chances<10 }" ng-if="guessnumber.gameVars.chances<10 && guessnumber.gameVars.chances !=0 ">You have {{guessnumber.gameVars.chances}} chances left</p>
          </div>
            <form class="" ng-submit="!guessnumber.gameVars.restart?guessnumber.submit():''">
                <input class="guess" type="number" name="number" ng-model="guessnumber.guessNo" min="0" />
                <button ng-if="guessnumber.gameVars.restart" type="button" name="button" class="btn text-white bg-big-stone border-0 start" ng-click="guessnumber.restart()">Start Again</button>
                <button ng-if="!guessnumber.gameVars.restart" type="button" name="button" class="btn text-white bg-big-stone border-0 submit" ng-click="guessnumber.submit()" ng-disabled="guessnumber.guessNo == undefined">submit</button>
            </form>
            <div>
              <p class="text-uppercase text-bold m-t-5 m-b-5">
                <span class="red" ng-if="guessnumber.gameVars.attempt==1">Number is too high</span>
                <span class="saffron" ng-if="guessnumber.gameVars.attempt==2">Number is too Low</span>
                <span class="lunar-green" ng-if="guessnumber.gameVars.attempt==3"><b>Congratulation You Won</b></span>
                <span class="black" ng-if="guessnumber.gameVars.attempt==4"><b>You Lost</b></span>
              </p>
            </div>
            <div class="black  m-t-5 m-b-5">
              <table border="1" ng-if="guessnumber.resultSet.length" cellpadding="15">
                <tr>
                  <th class="text-center">Attempts</th>
                  <td class="text-center" ng-repeat="(key,value) in guessnumber.resultSet" ng-bind="key+1"></td>
                </tr>
                <tr>
                  <th class="text-center">Number</th>
                  <td class="text-center" ng-repeat="set in guessnumber.resultSet" ng-bind="set.number"></td>
                </tr>
                <tr>
                  <th class="text-center">Result</th>
                  <td class="text-center" ng-repeat="set in guessnumber.resultSet" ng-class="set.class" ng-bind="set.msg"></td>
                </tr>
              </table>
            </div>
            </div>
        </div>
