<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p> -->
  <!-- ng-click="setPath('/')" -->
  <!-- <p><a class="btn btn-lg btn-success" href>Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->

<div class="row margin-0 padding-30">
  <div class="col-md-12 col-sm-12 col-xs-12 col-lg-12 p-r-0 p-l-0">
    <h1 class="text-center">FORZON</h1>
    <p class="text-center">Build Your Own Online Business</p>
  </div>
</div>
