<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Always a pleasure scaffolding your apps.
  </p> -->
  <!-- ng-click="setPath('/')" -->
  <!-- <p><a class="btn btn-lg btn-success" href>Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>HTML5 Boilerplate</h4>
  <p>
    HTML5 Boilerplate is a professional front-end template for building fast, robust, and adaptable web apps or sites.
  </p>

  <h4>Angular</h4>
  <p>
    AngularJS is a toolset for building the framework most suited to your application development.
  </p>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div> -->
<div class="row margin-0">
  <div class="col-md-12 col-sm-12 col-lg-12 col-xs-12">
    <div class="row margin-0 padding-20">
      <div class="col-md-4 col-lg-3 col-xs-12 col-sm-4 text-center padding-10" ng-repeat="apps in constants.apps">
        <div class="text-center padding-0 relative" ng-class="{'classWithShadow':apps.class}" ng-mouseover="apps.class=true" ng-mouseout="apps.class=false">
          <img class="image-tile" src="../images/test.png" alt="tile">
          <a class="full-width absolute bottom-0 left-0 right-0 image-tile-text-color padding-20" ng-href ng-click="setPath(apps.link);">
            <span class="text-uppercase" ng-bind="apps.name"></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
