<div class="row bg-light-gray margin-0">
  <div class="col-md-12 col-xm-12 col-sm-12 col-lg-12">
    <div class="row margin-0">
      <div class="col-md-3 col-sm-3 col-xs-6 col-lg-3 text-center">
        <md-button class="md-raised bg-dark-gray" ng-click="signup.setForm('seller')">seller</md-button>
      </div>
      <div class="col-md-6 col-lg-6 col-sm-6">
        <div seller-form ng-if="signup.isSet('seller')"></div>
        <div buyer-form ng-if="signup.isSet('buyer')"></div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6 col-lg-3 text-center">
        <md-button class="md-raised bg-dark-gray" ng-click="signup.setForm('buyer')">buyer</md-button>
      </div>
    </div>
  </div>
</div>
